<body>
    {{>navbar}}
    <div class="policy-container">
        <h4>About Us</h4>
        <br><br>
        <p>URBAN CLOTHING is created on 18.02.2023 by Harsh Prasad and Roushan Pandey from Arka Jain Universtiy bearing enrollment number AJU/200747 and 
            AJU/200852 respectively for the
            purpose of completion of Final year Project. This website is desiged like a modern shopping website with the 
            help languages such as NodeJS, ExpressJS, MongoDB, handlebars, Bootstrap, HTML, CSS and JavaScript. It provides all 
            the features as any modern clothing website would provide. We aim to make this website live in coming future. Technologies used are as
            mentioned. <br><span class="little-bold">Front End : </span>HTML, CSS, Bootstrap <br> <span class="little-bold" >Back End : </span>Node JS, 
            ExpressJS, MongoDB <br> Handlebar JS as view engine. <br> We took inspiration from SCAGLIONE to make a similar looking website to them. Images has been
            collected from Unsplash etc.


        </p>
    </div>
    {{>bottomBar}}
</body>