<body>
  {{>navbar}}
  <div class="container">
    <h4>The Last Order was unsuccessful!!</h4>
    <div class="order-details">
      <h5>Possible reasons?</h5>
      <p>Payment error</p>
      <p>You might have clicked refresh or back button</p>
      <p>Go to your cart <a href="/cart">Click here</a></p>
    </div>
  </div>
  {{>bottomBar}}
</body>