{{!-- 
<body>
    {{>navbar}}
    <form action="/changePassword" method="POST">

    New Password : <input type="password" value="" name="newPass">
    Confirm Password : <input type="password" name="confirmNewPass" id="">
    <input type="hidden" name="userId" value="{{userId}}">

    <input type="submit" value="Submit">
    </form>
    {{>bottomBar}}
</body> --}}
<body>
    {{>navbar}}
    {{!-- Hello You have forgotten your password
    <form action="/forgetPass" method="POST">
    Email: <input type="email" name="email" id="">
    <input type="submit" value="Send link"> --}}
    </form>

        <div class="container">
        <div class="login-box">
            <div class="sub-heading">
                <h2>CHANGE PASSWORD</h2>
            </div>
            <div class="login-form">
                <form action="/changePassword" method="POST">
                    <div class="fr-mail fr-cnt">
                        <p>New Password</p>
                        <input type="password" name="newPass">
                    </div>
                    <div class="fr-mail fr-cnt">
                        <p>Confirm Password</p>
                        <input type="text" name="confirmNewPass">
                    </div>
                    <input type="hidden" name="userId" value="{{userId}}">
                    <input type="submit" value="submit">
                    

                </form>
            </div>
        </div>

    </div>
    {{>bottomBar}}
</body>
