<div id="footer">
    <div class="white-space">

    </div>
    <div class="Layout container-fluid">
        <div>
            <div class="row text-center">
                <div class="col-xs-12 col-sm-6 col-md-3 footer-column">
                    <div class="block-center">
                        <h3> Our Stuff
                        </h3>
                        <ul class="foot-sub">
                            <li>
                                <a href="products" target="/products">Tops</a>
                            </li>
                            <li>
                                <a href="/products" target="/">Bottoms</a>
                            </li>
                            <li>
                                <a href="/policies" target="/">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="/policies" target="/">About Us</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- /Column -->
                <div class="col-xs-12 col-sm-6 col-md-3 footer-column">
                    <div class="block-center">
                        <h3>Information
                        </h3>
                        <ul class="foot-sub">
                            <li>
                                <a href="/about-us" target="/">About Us</a>
                            </li>
                            <li>
                                <a href="/policies" target="/">Refund Policy</a>
                            </li>
                            <li>
                                <a href="/policies" target="/">Shipping Policy</a>
                            </li>
                            <li>
                                <a href="/policies" target="/">Return Policy</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- /Column -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="block-center">
                        <h3> Socials
                        </h3>
                        <ul class="foot-sub">
                            <li> <a href="https://www.instagram.com/harsh_2620/">Instagram</a> </li>
                            <li> <a href="">Youtube</a> </li>
                            <li> <a href="https://wa.me/+919693283167">Whatsapp</a> </li>
                            <li> <a href="mailto:harshprasad338@email.com">Email</a> </li>
                        </ul>
                    </div>
                </div>
                <!-- /Column -->
                <div class="col-xs-12 col-sm-6 col-md-3 footer-column">
                    <div class="block-center">
                        <ul class="foot-sub">
                            <h3>We Accept</h3>
                            <li>Paytm</li>
                            <li>Phone Pay</li>
                            <li>Mastercard</li>
                            <li>Visa</li>
                        </ul>
                    </div>
                </div>
                <!-- /Column -->
            </div>
        </div>
    </div>
</div>